*{

}
body{
    font-family: "Poppins";
}

.header{
    display:flex;
    justify-content: space-between;
}
.links{
    list-style: none;
}
.links li{
    display: inline-block;
    margin-right:20px;
}
.links li a{
    text-decoration: none;
    color:black;
}
.footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    background-color: black;
}
.main-content{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    text-align:center;
}
.about-2{
    background-color: black;
    color:white;
    padding:0px 10px;
    margin-bottom: 20px;
    width:300px;

}